@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// Variables
$list-font-size: 1rem !default;
$list-line-height: 1.5rem !default;
$list-indent-size-normal: 2.5rem !default;
$list-indent-size-dense: 2rem !default;
$list-icon-font-family: 'Material Icons' !default;

// Mixins
@mixin bullet-item($bullet-type, $spacing: normal) {
  position: relative;
  padding-left: $list-indent-size-normal;
  @if $spacing == dense {
    padding-left: $list-indent-size-dense;
  }

  &::before,
  &::after {
    display: none;
    position: absolute;
    top: ($list-line-height / 2);
    left: 0;
    min-width: $list-line-height;
    max-width: $list-indent-size-normal;
    height: $list-line-height;
    @if $spacing == dense {
      top: ($list-line-height / 4);
      max-width: $list-indent-size-dense;
    }
  }

  &::before {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @if $bullet-type == text {
      display: block;
    }
  }

  &::after {
    justify-content: center;
    align-items: center;
    font-size: $list-line-height;
    font-weight: normal;
    font-family: $list-icon-font-family;
    font-style: normal;
    line-height: 1;
    direction: ltr;
    letter-spacing: normal;
    white-space: nowrap;
    text-transform: none;
    word-wrap: normal;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    @if $bullet-type == icon {
      display: inline-flex;
    }
  }
}

// Assign
.list {
  padding: ($list-line-height / 2) 0;
  list-style: none;

  &.-dense {
    padding-top: ($list-line-height / 4);
    padding-bottom: ($list-line-height / 4);
  }
}

.item {
  padding: ($list-line-height / 2) 0;
  font-size: $list-font-size;
  line-height: $list-line-height;
}

.list.-dense .item {
  padding-top: ($list-line-height / 4);
  padding-bottom: ($list-line-height / 4);
}

.list.-bullet {
  .item {
    @include bullet-item(text, normal);

    &::before {
      content: '\02022';// \02022 = • ( &#8226; / &bull; )
    }
  }

  &.-dense .item {
    @include bullet-item(text, dense);
  }

  // Icon
  .item.-icon {
    @include bullet-item(icon, normal);

    &::after {
      content: attr(data-icon);
    }
  }

  &.-dense .item.-icon {
    @include bullet-item(icon, dense);
  }
}

.list.-ordered {
  counter-reset: item;

  .item {
    @include bullet-item(text, normal);

    &::before {
      counter-increment: item;
      content: counter(item)'.';
    }
  }

  &.-dense .item {
    @include bullet-item(text, dense);
  }

  // Icon
  .item.-icon {
    @include bullet-item(icon, normal);

    &::after {
      content: attr(data-icon);
    }
  }

  &.-dense .item.-icon {
    @include bullet-item(icon, dense);
  }
}
