@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// Variables
$list-font-size: 1rem !default;
$list-line-height: 1.5rem !default;
$list-indent-size-normal: 2.5rem !default;
$list-indent-size-dense: 2rem !default;
$list-icon-font-family: 'Material Icons' !default;

// Mixins
@mixin bullet-item($dense: false) {
  position: relative;
  padding-left: $list-indent-size-normal;
  @if $dense {
    padding-left: $list-indent-size-dense;
  }

  &::before {
    display: block;
    position: absolute;
    top: ($list-line-height / 2);
    left: 0;
    min-width: $list-line-height;
    max-width: $list-indent-size-normal;
    height: $list-line-height;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @if $dense {
      top: ($list-line-height / 4);
      max-width: $list-indent-size-dense;
    }
  }
}

// Assign
.list {
  padding: ($list-line-height / 2) 0;
  list-style: none;

  &.-dense {
    padding-top: ($list-line-height / 4);
    padding-bottom: ($list-line-height / 4);
  }
}

.item {
  padding: ($list-line-height / 2) 0;
  font-size: $list-font-size;
  line-height: $list-line-height;
}

.list.-dense .item {
  padding-top: ($list-line-height / 4);
  padding-bottom: ($list-line-height / 4);
}

.list.-bullet {
  .item {
    @include bullet-item;

    &::before {
      content: '\02022';
    }
  }

  &.-dense .item {
    @include bullet-item($dense: true);
  }
}

.list.-ordered {
  counter-reset: item;

  .item {
    @include bullet-item;

    &::before {
      counter-increment: item;
      content: counter(item)'.';
    }
  }

  &.-dense .item {
    @include bullet-item($dense: true);
  }
}

.list.-icon {
  .item {
    @include bullet-item;

    &.-bullet::before {
      content: '\02022';
    }
  }

  &.-dense .item {
    @include bullet-item($dense: true);
  }

  .icon {
    position: absolute;
    top: ($list-line-height / 2);
    left: 0;
    width: $list-line-height;
    height: $list-line-height;
    font-size: $list-line-height;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    // Material Icons CSS
    font-weight: normal;
    font-family: $list-icon-font-family;
    font-style: normal;
    line-height: 1;
    direction: ltr;
    letter-spacing: normal;
    white-space: nowrap;
    text-transform: none;
    word-wrap: normal;

    // Support for all WebKit browsers.
    -webkit-font-smoothing: antialiased;
    // Support for Safari and Chrome.
    text-rendering: optimizeLegibility;
    // Support for Firefox.
    -moz-osx-font-smoothing: grayscale;
    // Support for IE.
    font-feature-settings: 'liga';
  }

  &.-dense .icon {
    top: ($list-line-height / 4);
  }
}
